<a href="https://colab.research.google.com/github/eckoecho/CodingDojo/blob/Types-of-Features/Types_of_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Import packages and load data
import pandas as pd
from sklearn.model_selection import train_test_split
pd.set_option("display.max_columns", 100)

In [9]:
## Load the data and set the index
fpath = "/content/drive/MyDrive/CodingDojo/02-MachineLearning/Week05/Data/Prepped-ames-housing-dojo-for-ml.csv"
df = pd.read_csv(fpath)
df = df.set_index("PID")
df.head()

,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Utilities,Neighborhood,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built,Year Remodeled,Exter Qual,Exter Cond,Bsmt Unf Sqft,Total Bsmnt Sqft,Central Air,Living Area Sqft,Bsmt Half Bath,Half Bath,Bedroom,Kitchen,Total Rooms,Garage Type,Garage Yr Blt,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Fence,Date Sold,SalePrice,Month,Year,Total Half Baths,Total Full Baths
PID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
907227090,RL,60.0,7200,Pave,NaN,AllPub,CollgCr,1Fam,1Story,5,8,1972,1972,TA,TA,427.0,864.0,Y,864.0,0.0,0.0,3,1,5,Detchd,1977.0,1.0,297.0,TA,TA,Y,MnPrv,03-2006,119900.0,3,2006,0.0,1.0
527108010,RL,134.0,19378,Pave,NaN,AllPub,Gilbert,1Fam,2Story,7,5,2005,2006,Gd,TA,1335.0,1392.0,Y,2462.0,0.0,1.0,4,1,9,Attchd,2006.0,2.0,576.0,TA,TA,Y,NaN,03-2006,320000.0,3,2006,1.0,3.0
534275170,RL,NaN,12772,Pave,NaN,AllPub,NAmes,1Fam,1Story,6,8,1960,1998,TA,Gd,460.0,958.0,Y,958.0,0.0,0.0,2,1,5,Attchd,1960.0,1.0,301.0,TA,TA,Y,NaN,04-2007,151500.0,4,2007,0.0,1.0
528104050,RL,114.0,14803,Pave,NaN,AllPub,NridgHt,1Fam,1Story,10,5,2007,2008,Ex,TA,442.0,2078.0,Y,2084.0,0.0,0.0,2,1,7,Attchd,2007.0,3.0,1220.0,TA,TA,Y,NaN,06-2008,385000.0,6,2008,0.0,3.0
533206070,FV,32.0,3784,Pave,Pave,AllPub,Somerst,TwnhsE,1Story,8,5,2006,2007,Gd,TA,1451.0,1511.0,Y,1565.0,0.0,0.0,2,1,5,Attchd,2006.0,2.0,476.0,TA,TA,Y,NaN,02-2007,193800.0,2,2007,0.0,3.0

## Format for ML

In [10]:
#Setting X to be the feature set
X = df.drop(columns=["SalePrice"]).copy()
#Setting y to be the target
y = df["SalePrice"]
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

## Replace the Ordinal feature (Exter Qual) with Numbers

In [14]:
# display categories in ExterQual
X_train['Exter Qual'].value_counts(dropna=False)

TA    1350
Gd     734
Ex      84
Fa      29
Name: Exter Qual, dtype: int64

In [16]:
# define dictionary to replace ordinal categories
quals = {"Po":0, "Fa":1, "TA":2, "Gd":3, "Ex":4}
# apply the dictionary to the column in the train set
X_train["Exter Qual"] = X_train["Exter Qual"].replace(quals)
X_test["Exter Qual"] = X_test["Exter Qual"].replace(quals)
# view the dataframe to make sure it worked
X_train["Exter Qual"].value_counts(dropna=False)

2    1350
3     734
4      84
1      29
Name: Exter Qual, dtype: int64

## Nominal (not ordered categories)

In [17]:
# View values in the Bldg Type column
X_train["Bldg Type"].value_counts(dropna=False)

1Fam      1829
TwnhsE     168
Duplex      79
Twnhs       77
2fmCon      44
Name: Bldg Type, dtype: int64