<a href="https://colab.research.google.com/github/eckoecho/CodingDojo/blob/week-10/Week%2010/Feature_Engineering_Exercise_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this exercise, you will be working with data about bike share rentals. You can download the data [here](https://docs.google.com/spreadsheets/d/e/2PACX-1vROUXPkYUkX-2W7JbJ0-oNKaXzpg4NtmU9IeWEY6yFKm32ZEJOpRh_soHD4BeIcuHjYik3SEoXmkgwj/pub?output=csv).

In [31]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/CodingDojo/03-AdvancedML/Week10/Data/bikeshare_train - bikeshare_train.csv")
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 0:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 1:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 2:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 3:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 4:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

import the data the drop the 'casual' and 'registered' columns. These are redundant with your target, 'count'.

In [32]:
#Dropping 2 redundant columns
df.drop(columns=["casual", "registered"], inplace=True)
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
0,2011-01-01 0:00:00,1,0,0,1,9.84,14.395,81,0.0,16
1,2011-01-01 1:00:00,1,0,0,1,9.02,13.635,80,0.0,40
2,2011-01-01 2:00:00,1,0,0,1,9.02,13.635,80,0.0,32
3,2011-01-01 3:00:00,1,0,0,1,9.84,14.395,75,0.0,13
4,2011-01-01 4:00:00,1,0,0,1,9.84,14.395,75,0.0,1

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   count       10886 non-null  int64
dtypes: float64(3), int64(6), object(1)
memory usage: 850.6+ KB

In this case, the 'date' column loaded as an 'object' type. We can use pd.to_datetime() to change the time to datatime.

In [34]:
df["datetime"] = pd.to_datetime(df["datetime"])

Transform the 'datetime' column into a datetime type and use it to create 3 new columns in the data frame.

In [35]:
#Getting month from datetime and creating new column
df["month (name)"] = df["datetime"].dt.month_name
#Getting date of the week from datetime and creating new column
df["day of the week (name)"] = df["datetime"].dt.day_name()
#Getting the hour of the day from datetime column and creating new column
df["hour of the day"] = df["datetime"].dt.hour

In [36]:
#Checking datatypes after creating new columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   datetime                10886 non-null  datetime64[ns]
 1   season                  10886 non-null  int64
 2   holiday                 10886 non-null  int64
 3   workingday              10886 non-null  int64
 4   weather                 10886 non-null  int64
 5   temp                    10886 non-null  float64
 6   atemp                   10886 non-null  float64
 7   humidity                10886 non-null  int64
 8   windspeed               10886 non-null  float64
 9   count                   10886 non-null  int64
 10  month (name)            10886 non-null  object
 11  day of the week (name)  10886 non-null  object
 12  hour of the day         10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(2)
memory usage: 1.1+ MB

In [37]:
#Converting "hour of day" to object
df["hour of the day"] = df["hour of the day"].astype(object)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   datetime                10886 non-null  datetime64[ns]
 1   season                  10886 non-null  int64
 2   holiday                 10886 non-null  int64
 3   workingday              10886 non-null  int64
 4   weather                 10886 non-null  int64
 5   temp                    10886 non-null  float64
 6   atemp                   10886 non-null  float64
 7   humidity                10886 non-null  int64
 8   windspeed               10886 non-null  float64
 9   count                   10886 non-null  int64
 10  month (name)            10886 non-null  object
 11  day of the week (name)  10886 non-null  object
 12  hour of the day         10886 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(6), object(3)
memory usage: 1.1+ MB

In [38]:
#Dropping columns i no longer need
df.drop(columns=["datetime", "season"], inplace=True)
df.head()

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,month (name),day of the week (name),hour of the day
0,0,0,1,9.84,14.395,81,0.0,16,<bound method PandasDelegate._add_delegate_acc...,Saturday,0
1,0,0,1,9.02,13.635,80,0.0,40,<bound method PandasDelegate._add_delegate_acc...,Saturday,1
2,0,0,1,9.02,13.635,80,0.0,32,<bound method PandasDelegate._add_delegate_acc...,Saturday,2
3,0,0,1,9.84,14.395,75,0.0,13,<bound method PandasDelegate._add_delegate_acc...,Saturday,3
4,0,0,1,9.84,14.395,75,0.0,1,<bound method PandasDelegate._add_delegate_acc...,Saturday,4

The temperatures in the 'temp' and 'atemp' columns are in Celsius. Use `.apply()` and a Lambda function to convert them to Fahrenheit.

Forumla is: (°C * 1.8) + 32 = °F

In [39]:
#Creating new columns when applying lambda function
df["temp"] = df["temp"].apply(lambda c: float (c*1.8)+32)
df["atemp"] = df["atemp"].apply(lambda c: float (c*1.8)+32)
df.head()

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,month (name),day of the week (name),hour of the day
0,0,0,1,49.712,57.911,81,0.0,16,<bound method PandasDelegate._add_delegate_acc...,Saturday,0
1,0,0,1,48.236,56.543,80,0.0,40,<bound method PandasDelegate._add_delegate_acc...,Saturday,1
2,0,0,1,48.236,56.543,80,0.0,32,<bound method PandasDelegate._add_delegate_acc...,Saturday,2
3,0,0,1,49.712,57.911,75,0.0,13,<bound method PandasDelegate._add_delegate_acc...,Saturday,3
4,0,0,1,49.712,57.911,75,0.0,1,<bound method PandasDelegate._add_delegate_acc...,Saturday,4

which shows how much warmer or colder the current temperature ('temp') is than the average temperate for that day of the year ('atemp')

In [41]:
df["temp_variance"] = df["atemp"] - df["temp"]
df["temp_variance"].describe()

count    10886.000000
mean         6.163604
std          2.819902
min        -41.652000
25%          4.941000
50%          6.624000
75%          7.299000
max         14.481000
Name: temp_variance, dtype: float64

In [42]:
#Dropping column i no longer need
df.drop(columns="atemp", inplace=True)
df.head()

,holiday,workingday,weather,temp,humidity,windspeed,count,month (name),day of the week (name),hour of the day,temp_variance
0,0,0,1,49.712,81,0.0,16,<bound method PandasDelegate._add_delegate_acc...,Saturday,0,8.199
1,0,0,1,48.236,80,0.0,40,<bound method PandasDelegate._add_delegate_acc...,Saturday,1,8.307
2,0,0,1,48.236,80,0.0,32,<bound method PandasDelegate._add_delegate_acc...,Saturday,2,8.307
3,0,0,1,49.712,75,0.0,13,<bound method PandasDelegate._add_delegate_acc...,Saturday,3,8.199
4,0,0,1,49.712,75,0.0,1,<bound method PandasDelegate._add_delegate_acc...,Saturday,4,8.199